---
import Footer from "../components/Footer";
import HeroPages from "../components/HeroPages";
import PlanTrip from "../components/PlanTrip";
import AboutMain from "../images/about/about-main.jpg";
import Box1 from "../images/about/icon1.png";
import Box2 from "../images/about/icon2.png";
import Box3 from "../images/about/icon3.png";
import Layout from "../layouts/Layout.astro";
---

<Layout title="about page.">
  <section class="about-page">
    <HeroPages name="About" client:load />
    <div class="container">
      <div class="about-main">
        <img class="about-main__img" src={AboutMain.src} alt="car-renting" />
        <div class="about-main__text">
          <h3>About Company</h3>
          <h2>You start the engine and your adventure begins</h2>
          <p>
            Certain but she but shyness why cottage. Guy the put instrument sir
            entreaties affronting. Pretended exquisite see cordially the you.
            Weeks quiet do vexed or whose. Motionless if no to affronting
            imprudence no precaution. My indulged as disposal strongly attended.
          </p>
          <div class="about-main__text__icons">
            <div class="about-main__text__icons__box">
              <img src={Box1.src} alt="car-icon" />
              <span>
                <h4>20</h4>
                <p>Car Types</p>
              </span>
            </div>
            <div class="about-main__text__icons__box">
              <img src={Box2.src} alt="car-icon" />
              <span>
                <h4>85</h4>
                <p>Rental Outlets</p>
              </span>
            </div>
            <div class="about-main__text__icons__box">
              <img src={Box3.src} alt="car-icon" class="last-fk" />
              <span>
                <h4>75</h4>
                <p>Repair Shop</p>
              </span>
            </div>
          </div>
        </div>
      </div>
      <PlanTrip client:load />
    </div>
  </section>
  <div class="book-banner">
    <div class="book-banner__overlay"></div>
    <div class="container">
      <div class="text-content">
        <h2>Book a car by getting in touch with us</h2>
        <span>
          <i class="fa-solid fa-phone"></i>
          <h3>(123) 456-7869</h3>
        </span>
      </div>
    </div>
  </div>
  <Footer client:load/>
</Layout>
