---
import Layout from "../layouts/Layout.astro";

import Footer from "../components/Footer";
import HeroPages from "../components/HeroPages";
import Person1 from "../images/team/1.png";
import Person2 from "../images/team/2.png";
import Person3 from "../images/team/3.png";
import Person4 from "../images/team/4.png";
import Person5 from "../images/team/5.png";
import Person6 from "../images/team/6.png";

const teamPpl = [
    { img: Person1, name: "Luke Miller", job: "Salesman" },
    { img: Person2, name: "Michael Diaz", job: "Business Owner" },
    { img: Person3, name: "Briana Ross", job: "Photographer" },
    { img: Person4, name: "Lauren Rivera", job: "Car Detailist" },
    { img: Person5, name: "Martin Rizz", job: "Mechanic" },
    { img: Person6, name: "Caitlyn Hunt", job: "Menager" },
  ];
---


<Layout title="team">
    <section class="team-page">
        <HeroPages name="Our Team" client:load/>
        <div class="cotnainer">
          <div class="team-container">
            {teamPpl.map((ppl) => (
              <div  class="team-container__box">
                <div class="team-container__box__img-div">
                  <img src={ppl.img.src} alt="team_img" />
                </div>
                <div class="team-container__box__descr">
                  <h3>{ppl.name}</h3>
                  <p>{ppl.job}</p>
                </div>
              </div>
            ))}
          </div>
        </div>
        <div class="book-banner">
          <div class="book-banner__overlay"></div>
          <div class="container">
            <div class="text-content">
              <h2>Book a car by getting in touch with us</h2>
              <span>
                <i class="fa-solid fa-phone"></i>
                <h3>(123) 456-7869</h3>
              </span>
            </div>
          </div>
        </div>
        <Footer client:load/>
      </section>
</Layout>